@font-face {
    font-family: 'GeneralSans';
    src: url('./fonts/GeneralSans-Regular.woff2') format('woff2'),
         url('./fonts/GeneralSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'PokemonPixel';
    src: url('./fonts/PokemonPixel.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}